<h3>{{ verb | capitalize }} has been validated!</h3>

<p>You requested validation for the verb <em>{{ verb }}</em> on {{ date | date('D M j')}} and I am happy to notify you that it has been validated! From now on, you can use the verb in the Samiverb tool without any concerns.</p>

<p>Thanks for your contribution, and see you soon on <a href="http://www.samiverb.com/">Samiverb</a>!</p>

<p><b>Mike Voets</b><br>
  Founder of Samiverb
</p>