{% extends "SamiverbBundle::admin/admin.html.twig" %}

{% block content %}

  <div class="adminpanel container admintable">
    <h3>Todo list</h3>
    <ul class='list-unstyled'>
      <li>- CSS on frontpage</li>
      <li>- Scroll to verb section</li>
      <li>- Form in navbar when low</li>
      <li>- Static pages content</li>
      <li>- Head panel</li>
    </ul>


  </div>

{% endblock %}