<div class="modal fade" id="validateModal" tabindex="-1" role="dialog" aria-labelledby="validateModalLabel" aria-hidden="true" ng-controller="ValidateModalController" ng-show="isSuggestionsReady()" ng-init="generateCrsf(1)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="validateModalLabel">Validate this verb <small>´{[{verb['name']}]}´</small></h4>
      </div>
      <div class="modal-body">
        <h4>
          Are you sure?
        </h4>
        <p>
          Are you sure you didn't misspell the verb? Didn't you mean: 
          <a href class="suggestions" ng-repeat="match in suggestions.matches | limitTo:4" data-dismiss="modal" ng-click="requestNewVerb(match)">
            <em>{[{match}]}</em>
          </a>
          ?
        </p>
        <h4>
          Why is this necessary?
        </h4>
        <p>
          You just entered a verb that has not been validated yet. If you are sure that you entered a verb that actually exists, enter your email address and click on the send button to send a validation request. If the verb gets approved, it will assure you that it is a valid verb, without a warning popping up every time you want check up the verb conjugations. You will receive a message as soon as the verb has been validated.
        </p>
        <h4>
          Unsure about the result?
        </h4>
        <p>
          If I marked the verb invalid even though you are sure that the verb was just fine, and you are sure that all the conjugations are correct, please send me another validation request so I can take a better look at it.
        </p>
        <h4>Request validation</h4>
        <p>
          <form name="validateVerb1" novalidate>
            <div class="form-group">
              <label class="sr-only" for="validate-verb-verb1">Verb</label>
              <input type="text" class="form-control" id="validate-verb-verb1" placeholder="{[{verb['name']}]}" readonly>
            </div>
            <div class="form-group">
              <label class="sr-only" for="validate-verb-email1">Email</label>
              <input type="email" ng-model="validateForm.email" class="form-control" id="validate-verb-email1" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="hidden" name="_csrf_token" id="_crsf_token_1">
            </div>
          </form>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary ladda-button" id="validate-btn1" ng-click="validateForm.submit(1)" ng-disabled="validateVerb1.$invalid || validateForm.isSubmitted() || validateForm.isError()" data-style="expand-right">
          <span class="ladda-label" ng-hide="validateForm.isSubmitted() || validateForm.isError()">Send request</span>
          <span ng-show="validateForm.isSubmitted()">Request sent!</span>
          <span ng-show="validateForm.isError() && !validateForm.isSubmitted()">Wrong email!</span>
        </button>
      </div>
    </div>
  </div>
</div>